*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	text-decoration: none;
	border: none;
	list-style: none;
}

:root {
  /* colors */
  --color-primary-cyan: hsl(179, 62%, 43%);
  --color-primary-brightYellow: hsl(71, 73%, 54%);

  --color-grey-light: hsl(204, 43%, 93%);
  --color-grey-blue: hsl(218, 22%, 67%);
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}
