*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	text-decoration: none;
	border: none;
	list-style: none;
}

:root {
	/* colors*/
	--color-primary-cyan: hsl(179, 62%, 43%);
	--color-secondary-cyan: hsla(179, 62%, 43%, 0.884);
	--color-primary-brightYellow: hsl(71, 73%, 54%);
	--color-primary-darkYellow: hsl(71, 63%, 49%);

	--color-grey-light: hsl(204, 43%, 93%);
	--color-grey-light2: hsla(203, 44%, 93%, 0.795);
	--color-grey-blue: hsl(218, 22%, 67%);
	--color-white: #fff;

	--bottom-spacing-small: 1rem;
	--bottom-spacing-medium: 2rem;
	--bottom-spacing-large: 3rem;

	--space-around: 4rem;
}

@mixin footerTitle {
	font-size: inherit;
	letter-spacing: 1px;
	margin-bottom: var(--bottom-spacing-medium);
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Karla', sans-serif;
	font-weight: 400;
}

.component {
	margin: 7rem auto;
	max-width: 45%;
	border-radius: 1rem;
	box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.header {
	padding: var(--space-around);

	&__title {
		font-size: 2.5rem;
		color: var(--color-primary-cyan);
		font-weight: 700;
		margin-bottom: var(--bottom-spacing-medium);
	}

	&__subtitle {
		color: var(--color-primary-brightYellow);
		margin-bottom: var(--bottom-spacing-small);
	}

	&__description {
		line-height: 2.5rem;
		color: var(--color-grey-blue);
	}
}

.footer {
	color: var(--color-white);
	display: flex;
}

.subscription {
	padding: var(--space-around);
	background-color: var(--color-primary-cyan);

	&__title {
		@include footerTitle;
	}

	&__price {
		margin-bottom: var(--bottom-spacing-small);
		display: flex;
		align-items: center;
	}

	&__amount {
		font-size: 3rem;
		font-weight: 700;
		margin-right: 1rem;
	}

	&__duration {
		color: var(--color-grey-light2);
	}

	&__description {
		margin-bottom: var(--bottom-spacing-large);
	}

	&__button {
		padding: 1.5rem 10rem;
		color: currentColor;
		background-color: var(--color-primary-brightYellow);
		border-radius: 0.5rem;
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
		font-family: inherit;
		font-weight: 700;
		cursor: pointer;
		transition: background-color 0.2s;

		&:focus {
			outline: none;
		}

		&:hover {
			background-color: var(--color-primary-darkYellow);
			animation: pulsate 1s infinite;
		}
	}
}

.features {
	background-color: var(--color-secondary-cyan);
	padding: var(--space-around);
	flex: 1;
}

.features__title {
	@include footerTitle;
	text-transform: capitalize;
}

.features__listitem {
	font-size: 1.4rem;
	margin-bottom: 0.2rem;
	color: var(--color-grey-light2);
}

@keyframes pulsate {
	0% {
		transform: scale(1);
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
	}

	50% {
		transform: scale(1.2);
		box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
	}

	100% {
		transform: scale(1);
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
	}
}

@media screen and (max-width: 375px) {
	.component {
		max-width: 100%;
	}

	.footer {
		flex-flow: column wrap;
	}
}
